{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    <div class="text-center">
        {% if user.is_authenticated %}
            Hi {{ user.username }}! You are {{ user.age }} years old.
            <p><a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <img style="width: 70%; margin: 2rem" src="http://www.newspaperadsbooking.com/images/logo.png" alt="title.png">
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In!</a>
            |
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
{% endblock content %}